[project]
	description = Testing of github
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ritesh214
[access "refs/for/refs/*"]
	read = group user/ritesh214
	push = group user/ritesh214
	label-Code-Review = -2..+2 group user/ritesh214
	label-Verified = -1..+1 group user/ritesh214
	rebase = group user/ritesh214
	removeReviewer = group user/ritesh214
	submit = group user/ritesh214
[access "refs/heads/*"]
	read = group user/ritesh214
	create = group user/ritesh214
	push = +force group user/ritesh214
	pushMerge = group user/ritesh214
[access "refs/tags/*"]
	push = group user/ritesh214
	push = +force group user/ritesh214
